body{
    font-family:"Open Sans", sans-serif;
}

h1, h2, h3{
    font-family: 'Lobster', cursive;
}
h2 {
    color: #3046C5;
}
header h2 {
    color: #CEC8FF;
}    


.site-footer {
      background-image:(#CEC8FF, white);
      padding: 20px 0;
  }

.jumbotron {
    margin: 0;
    padding:30px;
    background-image: linear-gradient(to 
    right, #5637DD,#3046C5, #601068;)
    color: white;   
}
.row-content {
    padding:50px 0;
    border-bottom:1px ridge;
    min-height:200px;
}

.navbar {
    background-color: #901CAD;
   }
   
h2{
    font-family: 'Lobster', cursive;
    color:blue;
        text-align:inherit;}

.tab-content {
        border: 1px solid #DDD;
        border-top: none;
        padding: 10px;
    }
    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .carousel {
        border: solid #5637DD;
    }

    #carouselButton {
        position: absolute;
        right: 0;
        bottom: 0
        z-index: 100;
    }

    /* features Section */

    #features {
        padding:7% 15%;

    }
    
    .features-box {
        text-align: center;
        padding: 5%;
    }

    #testimonials {
        padding: 7% 15%;
        text-align: center;
        backgorund-color: green;
        color:#fff;
    }
    .testimonial-image{
  
    }
    carousel-item {
        padding:7% 15%;
    }

    #press {
        background-color: green;
        text-align:center;
        padding-bottom: 3%;
    }
    .press-logo {
        width:15%;
        margin:20px 20px 50px;
    }
