h1{
    font-family: 'Lobster', cursive;
    color: blue;
    text-align: inherit;
    }
   
    h2{
        font-family: 'Lobster', cursive;
        color:blue;
        text-align:inherit;
    }
    h2 span{
        font-family: 'Lobster', cursive;
        color: grey;
        text-align:center;
        }
    h3{
        font-family: 'Lobster', cursive;
    }
    #viewport-size {
    background: lightgreen;
    padding: 5px;
  }
  p {
      font-size:12px;
  }
}
.navbar {
 background-color: #901CAD;
}
.jumbotron {
    margin: 0;
    padding:30px;
    background-image: linear-gradient(to 
    right, #5637DD,#3046C5, #601068;)
    color: white;   
}
h2{
    font-family: 'Lobster', cursive;
    color:blue;
    text-align:inherit;
}
h2 span{
    font-family: 'Lobster', cursive;
        text-align:center;
    }
h3{
    font-family: 'Lobster', cursive;